<body>
<div class="signup-box col-lg-offset-3 col-lg-5">
    <h1>Inscription</h1>
    <form action="" method="" class="py-3">
        <div class="row">
            <input type="text" class="form-control mb-3  col-md-2 py-3 mar" placeholder="nom" />
            <input type="text" class="form-control mb-3 py-3  mar" placeholder="prenom" />
            <input type="email" class="form-control  mb-3 py-3  mar" placeholder="email" />
            <input type="password" class="form-control  mb-3 py-3  mar" placeholder="mot de passe" />
            <input type="password" class="form-control  mb-3 py-3  mar" placeholder="Confirm mot de passe" />
           
        </div>
        <div class="button">
            <input type="button" class="inscrire" value="S'inscrir" />
            &nbsp;
            <input type="button" class="annuler" value="Annuler" />
        </div>
       
        <p class="mar para">
            vous avez déjà un compte ? <a routerLink="/connexion" routerLinkActive="active">Connectez-vous ici</a>
          </p>
    </form>
    
  </div>
  
</body>