<div class="search">
    <div class="search__container">
        <input class="search__input" type="text" placeholder="rechercher">
    </div>
</div>



<div class="row">
    <!-- ====== Portfolio item Start1 =========-->

    <div class="portfolio-item">
        <div class="portfolio-item-inner shadow-dart">
            <div class="portfolio-img">
               <img src="../../assets/tourisme/téléchargement (2).jpg" alt="">
            </div>
            <p><span>Mopti : </span>Site web de recyclage D3E</p>

            <div class="bouton">
                <a href="#about" class="btn">Details</a>
              </div>
        </div>
    </div>

     <!-- ====== Portfolio item End1 =========-->

      <!-- ====== Portfolio item Start2 =========-->

    <div class="portfolio-item">
       <div class="portfolio-item-inner shadow-dart">
           <div class="portfolio-img">
              <img src="../../assets/tourisme/téléchargement.jpg" alt="">
           </div>
           <p><span>Sikasso : </span>site e-commerce artisanal </p>

           <div class="bouton">
            <a href="#about" class="btn">Details</a>
          </div>
       </div>
   </div>

    <!-- ====== Portfolio item End2 =========-->

     <!-- ====== Portfolio item Start3 =========-->

     <div class="portfolio-item">
       <div class="portfolio-item-inner shadow-dart">
           <div class="portfolio-img">
              <img src="../../assets/tourisme/images.jpg" alt="">
           </div>
           <p><span>Gao : </span>Un ERP pour la gestion des activités</p>

           <div class="bouton">
            <a href="#about" class="btn">Details</a>
          </div>
       </div>
   </div>

    <!-- ====== Portfolio item End3 =========-->

     <!-- ====== Portfolio item Start4 =========-->

   <div class="portfolio-item">
      <div class="portfolio-item-inner shadow-dart">
          <div class="portfolio-img">
             <img src="../../assets/tourisme/Streets-of-Djenne-Mali.jpg" alt="">
          </div>
          <p><span>Tombouctou : </span>Une API Rest: pays / regions / superficie</p>

          <div class="bouton">
            <a href="#about" class="btn">Details</a>
          </div>
      </div>
  </div>

   <!-- ====== Portfolio item End4 =========-->

</div>



<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">&raquo;</a>
</div>








