 
 <div class="header">
  <a href="#default" class="logo">MaliTourist</a>
  <div class="header-right" id="myTopnav">
    <a routerLink="/acceuil" routerLinkActive="active">Acceuil</a>
    <a routerLink="/region" routerLinkActive="active">Région</a>
    <a routerLink="/inscription" routerLinkActive="active">S'inscrir</a>

     <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>    -->

  </div>
</div>  

<!-- <app-inscription></app-inscription> -->
<router-outlet></router-outlet>

<footer>
  <p class="content_footer">Copy Right 2022 FreeTirage \  Bamako MALI<p>
</footer>