<div class="row1">
  <div class="column">
    <div>
      <div class="row card1" style="border: 8px solid green;">

        <div class="con col-md-8">
          <p>Régions 20 <br> date 2022</p>
        </div>
        <div class="icond col-md-3">
          <div class="cercler">
            <div class="icon">
              <em class="fa fa-solid fa-location-dot"></em>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="column">
    <div>
    <div class="row card1" style="border: 8px solid #F29942;">

      <div class="con col-md-8">
        <p>Populations 20M <br> date 2022</p>
      </div>
      <div class="icond col-md-3">
        <div class="cerclep">
          <div class="icon">
            <em class="fa fa-solid fa-users"></em>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="column">
    <div>

      <div class="row card1" style="border: 8px solid red;">
        <div class="con col-md-8 ">
          <p>Superficie 1,24M <br> date 2022</p>
        </div>
        <div class="icond col-md-3">
          <div class="cercles">
            <div class="icon">
              <em class="fa fa-solid fa-chart-area"></em>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>





<div class="wrapper">
  <div class="contenu">
    <h2>Découvrez les regions du Mali avec MaliTourist</h2>
  </div>
  <div class="bouton">
    <a href="#about" class="btn">Continuer</a>
  </div>
</div>