<body>
    <div class="signup-box col-lg-offset-3 col-lg-5">
        <h1>Connexion</h1>
        <form action="" method="" class="py-3">
            <div class="row">
                <input type="email" class="form-control  mb-4 py-3  mar" placeholder="email" />
                <input type="password" class="form-control  mb-4 py-3  mar" placeholder="mot de passe" />
               
            </div>
            <div class="button">
                <input type="button" class="inscrire" value="Se connecter" />
                &nbsp;
                <input type="button" class="annuler" value="Annuler" />
            </div>
           
            <p class="mar para">
                vous n'avez pas de compte <a routerLink="/inscription" routerLinkActive="active">inscrivez-vous</a>
              </p>
        </form>
        
      </div>
      
    </body>
