<div class="det">
    <div class="detailimgdiv">
        <div class="detail-img">
            <img src="../../assets/tourisme/téléchargement (2).jpg" alt="">
         </div> 
         
    </div>
    <p><span>Mopti : </span>est une ville et une commune au centre du Mali, 
        chef-lieu du cercle et de la région de Mopti. Mopti, surnommée 
        « la Venise du Mali », est située au confluent du Niger et de son
         affluent le Bani. C'est à ce titre un port fluvial actif par 
         lequel transitent personnes et biens.</p>
</div>

<div class="region-info"> 
    <div class="row1">
        <div class="item1">
            <div class="info-item">
                <p><span>Nombre d'habitant : </span> 10 Octobre 1999</p>
             </div>
             <div class="info-item">
                <p><span>Domain d'activite : </span> www.domaine.com</p>
             </div>
             <div class="info-item">
                <p><span>Langues majoritaire : </span> Licence</p>
             </div>
        </div>
        
        <div class="item2">
            <div class="info-item">
                <p><span>Code  region : </span> Bamako/p>
             </div>
             <div class="info-item">
                <p><span>Superficie : </span> 23 ans</p>
             </div>
             <div class="info-item">
                <p><span>Email : </span> adiawiakoye.le10@gmail.com</p>
             </div>
        </div>
         
    </div>
</div>


<div class="button">
    <div class="btnmodi">
        <a href="#about" class="btnt">Modifier</a>
    </div>

    <!-- &nbsp; -->
    <div class="btnsupp">
        <a href="#about" class="btnt">Supprimer</a>
    </div>
</div>

    <div class="form-item">
        <div class="form-group">
            <textarea name="text" class="form-control" id="" placeholder="Commentaire"></textarea>
        </div>
    </div>

    <div class="buttonc">
        <div class="btnmodic">
            <a href="#about" class="btnt">Commenter</a>
        </div>
    
        <div class="btnsuppc">
            <a href="#about" class="btnt">Annuler</a>
        </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col-md-8">
              <div class="page-header">
                <h1><small class="pull-right">45</small> Commentaires </h1>
              </div> 
               <div class="comments-list">
                <div class="media">
                    <div class="fet">
                        <div class="img">
                          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar"  width="50px" height="50px">
                        </div>
                        <div class="name">
                          <h3 class="media-name">Baltej Singh</h3>
                        </div>
                    </div>
                         <p>Wow! this is really great.</p>   
                 </div>

                 <div class="media">
                    <div class="fet">
                        <div class="img">
                          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar"  width="50px" height="50px">
                        </div>
                        <div class="name">
                          <h3 class="media-name">Baltej Singh</h3>
                        </div>
                    </div>
                         <p>Wow! this is really great.</p>   
                 </div>
                 
                 <div class="media">
                    <div class="fet">
                        <div class="img">
                          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar"  width="50px" height="50px">
                        </div>
                        <div class="name">
                          <h3 class="media-name">Baltej Singh</h3>
                        </div>
                    </div>
                         <p>Wow! this is really great.</p>   
                 </div>
                      
               </div>
                
                
                
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6" style="text-align: center;" *ngIf="nbreCommentaire == 0"><h5>Pas de commentaire</h5></div> -->






