<div class="det">
    <div class="detailimgdiv">
        <div class="detail-img">
            <img src="../../assets/tourisme/{{region.imageregion}}" alt="">
         </div> 
         
    </div>
    <p><span>{{region.nomregion}} : </span>{{region.description}}</p>
</div>

<div class="region-info"> 
    <div class="row1">
        <div class="item1">
            <div class="info-item">
                <p><span>Nom : </span> {{region.nomregion}}</p>
             </div>
             <div class="info-item">
                <p><span>Domain d'activite : </span> {{region.doactivite}}</p>
             </div>
             <div class="info-item">
                <p><span>Langues majoritaire : </span> {{region.lanparle}}</p>
             </div>
        </div>
        
        <div class="item2">
            <div class="info-item">
                <p><span>Code  region : </span> {{region.coderegion}}</p>
             </div>
             <div class="info-item">
                <p><span>Superficie : </span> {{region.superficie}}</p>
             </div>
             <div class="info-item">
                
                <p *ngFor="let Habitant of habitant"><span>Nombre d'habitant : </span> {{Habitant.nbhabitant}}</p>
             </div>
        </div>
         
    </div>
</div>


<div class="button">
    <div class="btnmodi">
        <a data-bs-toggle="modal" href="#exampleModal" data-bs-whatever="@getbootstrap" class="btnt">Modifier</a>
    </div>

    <!-- &nbsp; -->
    <div class="btnsupp">
        <a href="#about" class="btnt">Supprimer</a>
    </div>
</div>

    <div class="form-item">
        <div class="form-group">
            <textarea name="contenu" [(ngModel)]="contenu" class="form-control" id="" placeholder="Commentaire"></textarea>
        </div>
    </div>

    <div class="buttonc">
        <div class="btnmodic">
            <a type="submit" (click)="commenter()" class="btnt">Commenter</a>
        </div>
    
        <div class="btnsuppc">
            <a href="#about" class="btnt">Annuler</a>
        </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col-md-8">
              <div class="page-header">
                <h1><small class="pull-right">{{nbcommentaire}}</small> Commentaires </h1>
              </div> 
               <div class="comments-list">
                <div class="media" *ngFor="let commentaires of commentaire">
                    <div class="fet">
                        <div class="img">
                          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar"  width="50px" height="50px">
                        </div>
                        <div class="name">
                          <h3 class="media-name">{{commentaires.appUser.nom}}</h3>
                        </div>
                    </div>
                         <p>{{commentaires.contenu}}.</p>   
                 </div>

                 <!-- <div class="media">
                    <div class="fet">
                        <div class="img">
                          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar"  width="50px" height="50px">
                        </div>
                        <div class="name">
                          <h3 class="media-name">Baltej Singh</h3>
                        </div>
                    </div>
                         <p>Wow! this is really great.</p>   
                 </div>
                 
                 <div class="media">
                    <div class="fet">
                        <div class="img">
                          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar"  width="50px" height="50px">
                        </div>
                        <div class="name">
                          <h3 class="media-name">Baltej Singh</h3>
                        </div>
                    </div>
                         <p>Wow! this is really great.</p>   
                 </div> -->
                      
               </div>
                
                
                
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6" style="text-align: center;" *ngIf="nbreCommentaire == 0"><h5>Pas de commentaire</h5></div> -->





    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter une Region</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <!-- <label class="col-form-label">choisie un Pays :</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected> </option>
                  <option *ngFor="let Pays of pays" value={{Pays.nompays}}>{{Pays.nompays}}</option>
                </select> -->
                  <div class="row justify-content-between text-left mb-3">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="col-form-label">Code :</label> <input type="text" class="form-control" id="code"   > </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="col-form-label">Nom de la region :</label> <input type="text" class="form-control" id="nom"   > </div>
                  </div>
                  <div class="row justify-content-between text-left mb-3">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="col-form-label">Superficie :</label> <input type="text" class="form-control" id="superficie" > </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="col-form-label">Nombre d'Habitant :</label> <input type="text" class="form-control" id="habitant"  > </div>
                  </div>
                  <div class="row justify-content-between text-left mb-3">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="col-form-label">Domaine d'Activité :</label> <input type="text" class="form-control" id="activite"  > </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="col-form-label">Langue Majoritaire :</label> <input type="text" class="form-control" id="Langue"  > </div>
                  </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Description :</label>
                  <input type="text" class="form-control" id="description" >
                </div>
                <div class="mb-3">
                  <input type="file" formControlName="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"  id="file" name="file" >
                  <label class="custom-file-label" for="inputGroupFile01">Choisi une image</label>
               </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary bt" data-bs-dismiss="modal">fermer</button>
              <button type="button" class="btn btn-primary">Ajouter</button>
            </div>
          </div>
        </div>
      </div>



